# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# environment
.env

# Compiled class files
*.class
/target/classes

# Application properties
**/application.properties
src/main/java/resources/application.properties

# VS Code configuration
.vscode/settings.json
/.idea/dataSources.xml
/.idea/dataSources.local.xml
